# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Specific file ignores
home-assistant.log
home-assistant_v2.db*
nest.conf
/secrets.yaml
known_devices.yaml
scripts/publish-ink-level-mqtt.cfg

# Directory ignores
www/snapshots/
deps/
tts/
.storage/
.cloud/
.vscode/
