# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Specific file ignores
home-assistant.log
home-assistant_v2.db*
nest.conf
/secrets.yaml
known_devices.yaml
scripts/publish-ink-level-mqtt.cfg
alarm_oprit_snapshot.jpg
.google.token

# Directory ignores
www/security/
www/snapshots/
www/tmp/
deps/
tts/
.storage/
.cloud/
.vscode/
google_calendars.yaml
